html, body {
    height: 100%;
    width: 100%;
}

.libraryContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    gap: 2vh;
}
